:root{
    --primary-color:white;
    /* --secondary-color: */
    --action-color:rgb(128,131,255);
    --gray-100:#f8f9fa;
}

.navbar{
    height: 18vh;
    /* background-color: ; */
}

.navbar .container-fluid  .navbar-brand{
    font-weight: bold;
    letter-spacing: 4px;
    font-size:30px;
    /* color: var(--primary-color); */
}

.navbar .container-fluid  .navbar-brand span{
    color: var(--action-color);
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.navbar ul li a{
    letter-spacing: 2px;
    /* border-bottom: 3px solid rgb(30, 29, 29); */
    border-bottom: 3px solid var(--gray-100);
    font-weight: 470;
    /* color: var(--primary-color)!important; */
    color: black!important;
}
.navbar ul li a:hover{
    border-bottom: 3px solid var(--action-color);
    /* color: var(--primary-color)!important; */
    
}
.navbar ul li a:active{
    background-color: var(--action-color) !important;
    color: var(--primary-color)!important;
 
}
.navbar ul li .active{
    background-color: var(--action-color) !important;
    color: var(--primary-color)!important;
}



/* navbar toggle btn */
.navbar .container-fluid .navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    background-color: black;
}
.navbar .container-fluid .navbar-toggler span + span{
    width: 18px;
    margin-top: 5px;
}
.navbar .container-fluid .navbar-toggler span + span + span{
    width: 15px;
    
}
/* theme row */
.container-fluid .row .theme-row{
    display: flex;
    justify-content: flex-end;
}

.container-fluid .row .theme-row .theme-icon{
    position: fixed;
    margin-right: 20px;
    margin-top: 60px;
    height: 40px;
    width: 40px;
    color: var(--action-color);
    z-index: 1;
}


/* styling a homepage */
.container-fluid .row .col-lg-4{
    /* border: 2px solid red; */
    height:82vh;
}
.container-fluid .row .name-section h4{
    display: flex;
    justify-content: center;
    margin-top: 40vh;
}
.container-fluid .row .name-section h2{
    display: flex;
    justify-content: center;
    color: var(--action-color);
    font-size: 40px;
}
.container-fluid .row .img-section img{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    height: 340px;
    width: 300px;
   margin-left: auto;
   margin-right: auto;
}
/* .profile-img::before{
    position: absolute;
    content:"";
    width: 23px;
    height: 80px;
    border-bottom: 5px solid;

} */
/* .container-fluid .row .img-section .profile-img::before{
    position: absolute;
    content:'';
    width: 80px;
    height: 80px;
    border-top: 10px solid var(--action-color);
    border-right: 10px solid var(--action-color);
    top: 100px;
    right: 350px;
}
.container-fluid .row .img-section .profile-img::after{
    position: relative;
    content:'';
    width: 100px;
    height: 80px;
    border-bottom: 10px solid var(--action-color);
    border-left: 10px solid var(--action-color);
    left: -400px;
    bottom:0;
} */

.container-fluid .row .title-section h4{
    display: flex;
    justify-content: center;
    margin-top: 20vh;

}
.container-fluid .row .title-section h1{
    display: flex;
    justify-content: center;
    color: var(--action-color);
    font-size: 60px;
}


/* styling about section */

.about-section .row div{
    /* border: 2px solid red; */
}
.about-section .row{
    /* border: 2px solid red; */
    /* height: 100vh; */
}
.about-section .pic-section{
    height: 70vh!important;
}

.about-section .row .pic-section .profile-img{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    height: 410px;
    width: 400px;
   margin-left: auto;
   margin-right: auto;

}
.about-section .row .info-section{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 40px;
    /* margin-bottom: 300px; */
    /* gap: 20px; */
}
.about-section  .row  .page-heading{
    text-align: center;
    /* margin-bottom: 100px; */
}
/* .about-section  .row  .page-heading::before{
position: absolute;
content: "";
width: 60px;
height: 20px;
bottom: -65px;
left: 44%;
padding: 50px;
transform: translateX(60%);
background-color:black;
}
.about-section  .row  .page-heading::after{
position: absolute;
content: "me";
width: 60px;
height: 24px;
font-size: 20px;
color: var(--action-color);
bottom: -65px;
left: 48%;
padding: 50px;
background-color: var(--primary-color);
transform: translateX(60%);
    
} */
.about-section .row .info-section span{
    color: var(--action-color);
}
.about-section .row .info-section .btn-section{
    display: flex;
    justify-content: center;
    flex-direction: row;
   
}
.about-section .row .info-section .btn-section button{  
    border-radius: 20px;
    height: 60px;
    width: 160px;
    border: 2px solid;
    background-color: var(--action-color);
    color: var(--primary-color);
    margin: 0 100px;
}





/* MOBILE VIEW */
@media(max-width:767px) {
    /* Hero section mobile view styling*/
    .container-fluid .row .img-section img{
        display: flex;
        justify-content: center;
        margin-top: 4vh;
        height: 250px;
        width: 210px;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar ul{
        gap: 5px;
        width: 80%;
        padding-right: 20px!important;
        background: var(--gray-100);
        text-align: center;
    }
    .navbar ul li{
        text-align: center;
    }
    .container-fluid .row .col-lg-4{
        /* border: 2px solid red; */
        height:40vh;
    }
    .container-fluid .row .name-section h4{
        margin-top: 20vh;
    }
    .container-fluid .row .title-section h4{
        display: flex;
        justify-content: center;
        margin-top: 10vh;
    
    }
    /* .container-fluid .row .img-section img{
        display: flex;
        justify-content: center;
        margin-top: 20vh;
        height: 340px;
        width: 300px;
       margin-left: auto;
       margin-right: auto;
    } */


    /* about section mobile view styling */
    .about-section .row .pic-section .profile-img{ 
        margin-top: 4vh;
        height: 250px;
        width: 210px;}
    .about-section .row .info-section .btn-section{
            display: flex;
            justify-content: center;
            flex-direction: row;
           
        }
        .about-section .row .info-section .btn-section button{  
            margin: 0 10px;
            width: 140px;
            height: 50px;
        }
        .about-section .pic-section{
            height: 40vh!important;
        }
        
     
}
/* TABLET VIEW */
@media(max-width:991px){
    .navbar ul{
       
        width: 90%;
    }
    .navbar ul li{
        text-align: center;
    }
    .container-fluid .row .name-section h2{
        text-align: center;
    }
    .container-fluid .row .title-section h1{
        font-size: 50px;
        text-align: center;
    }


}


