.contact-section .row .contact-left-sect,.contact-right-sect{
    /* border: 3px solid red; */
    height: 70vh;
}
.contact-section .row{
    /* border: 3px solid red; */
}
.contact-section .row .row div{
    /* border: 2px solid; */
}
.contact-section .contact-left-sect{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 30px;

}

.contact-section .contact-left-sect .icon-sect{
    display: flex;
    align-items: center;
    gap: 30px;

}
.contact-section .contact-left-sect .info-sect{
    display: flex;
    align-items: center;
    gap: 30px;

}
.contact-section .contact-left-sect span{
   margin-left: 10%;
   font-size: 10px;
   font-weight: bold;

}

.contact-section .contact-left-sect .icon-sect .contact-icon{
 /* font-size: 22px!important; */
 height: 30px!important;
 width: 20px;
 color: var(--action-color);
 margin-left: 20px;

}
.contact-section .contact-right-sect{
    background-color: var(--secondary-color);
}
.contact-section .contact-right-sect .row{
   
   /* border: 3px solid; */
   }
   .contact-section .contact-right-sect .row div{
   
    /* border: 3px solid green; */
    }
    .contact-section .contact-right-sect .row .form-control{
        width: 100%!important;
        border: none;
        border-radius: 0px;
        border-bottom: 2px solid;
    }
    .contact-section .contact-right-sect .row .submit-btn{
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        height: 40px;
        width: 160px;
        background-color: var(--action-color);
        color: var(--primary-color);
    }
    