.contact-section {
    background-color: var(--primary-color);
}

.contact-section .page-heading {
    color: var(--black-100);
    background-color: var(--primary-color);
}


.contact-section .row .contact-left-sect,
.contact-right-sect {
    /* border: 3px solid red; */
    height: 70vh;
}

.contact-section .row {
    /* border: 3px solid red; */
}

.contact-section .row .row div {
    /* border: 2px solid; */
}

.contact-section .contact-left-sect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 30px;

}

.contact-section .contact-left-sect .row h4 {
    color: var(--black-100);
}

.contact-section .contact-left-sect .icon-sect,
.info-sect {
    display: flex;
    align-items: center;
    gap: 30px;

}

.contact-section .contact-left-sect .icon-sect h4,
span {
    color: var(--black-100);
}

/* .contact-section .contact-left-sect .info-sect {
    display: flex;
    align-items: center;
    gap: 30px;

} */

.contact-section .contact-left-sect span {
    margin-left: 10%;
    font-size: 10px;
    font-weight: bold;

}

.contact-section .contact-left-sect .icon-sect .contact-icon {
    /* font-size: 22px!important; */
    height: 30px !important;
    width: 20px;
    color: var(--action-color);
    margin-left: 20px;

}

.contact-section .contact-right-sect {
    background-color: var(--secondary-color);
}

.contact-section .contact-right-sect .row h4 {
    color: var(--black-100);
}

.contact-section .contact-right-sect .row div {

    /* border: 3px solid green; */
}

.contact-section .contact-right-sect .row .form-control {
    width: 100% !important;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid;
}

.contact-section .contact-right-sect .row .submit-btn {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: 40px;
    width: 160px;
    background-color: var(--action-color);
    color: var(--black-btn-color);
}

.contact-section .contact-right-sect .row .submit-btn:hover {
    background-color: var(--black-btn-color);
    color: var(--action-color);
    border: 2px solid var(--action-color);
}

.contact-section .contact-right-sect .row textarea {
    border-radius: 20px;
}


/* MOBILE VIEW */
@media(max-width: 767.98px) {

    .contact-section .contact-left-sect .icon-sect,
    .info-sect {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

    }

    /* .contact-section .contact-right-sect .row .col-lg-6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 200px!important;
        border: 2px solid blue;

    } */


}

/* 

TABLET VIEW 

*/
@media(max-width: 991.98px) {

    .contact-section .contact-left-sect .icon-sect,
    .info-sect {
        /* border: 2px solid green; */
        display: flex;
        align-items: center;

    }

    .contact-section .contact-left-sect .icon-sect {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}