.portfolio-section {
    background-color: var(--primary-color);
}

.portfolio-section .row {
    /* border: 2px solid red; */
}

.portfolio-section .page-heading {
    color: var(--black-100);

}

.portfolio-section .projects-highlight-section {
    background-color: var(--secondary-color);
    height: 45vh;
    /* border: 2px solid green; */
}

.portfolio-section .projects-highlight-section .card {
    border: none;
    /* border: 2px solid red; */
}

.portfolio-section .projects-highlight-section .card .highlight-icon {
    height: 50px;
    margin: 40px auto 10px auto;
    color: var(--action-color);

}

.portfolio-section .projects-highlight-section .project-sec-col .card h2,
h5 {
    color: var(--black-100);
}

.portfolio-section .nav-section {
    width: 70%;
    margin: 0 auto;

}

.portfolio-section .nav-row .sub-heading {
    color: var(--black-100);
}

.portfolio-section .nav-section .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--secondary-color);


}

.portfolio-section .nav-section .navbar-nav .nav-item a {
    color: var(--black-100);
    border-bottom: 5px solid var(--secondary-color);
}

.portfolio-section .nav-section .navbar-nav .nav-item a:hover {
    border-bottom: 5px solid var(--action-color);
}

.portfolio-section .nav-section .navbar-nav .nav-item a:active {
    border-bottom: 5px solid var(--action-color);
}

.portfolio-section .nav-section .navbar-nav .nav-item .active {
    border-bottom: 5px solid var(--action-color);
}

.portfolio-section .project-card {
    background-color: var(--secondary-color);
    margin-top: 20px;
}

.portfolio-section .project-card .card {
    margin: 0 auto;
    height: 200px !important;
    width: 290px !important;
    /* border: 5px solid blue; */
    background-color: var(--primary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.portfolio-section .project-card .card .card-body .card-title {
    color: var(--black-100);
    margin-bottom: 50px;
}

.portfolio-section .project-card .card .card-body .view-detail-btn {
    border-radius: 10px;
    height: 40px;
    width: 160px;
    background-color: var(--action-color);
    color: var(--black-btn-color);
}

.portfolio-section .project-card .card .card-body .view-detail-btn:hover {
    background-color: var(--black-btn-color);
    color: var(--action-color);
    border: 2px solid var(--action-color);
}



/* MOBILE VIEW */
@media(max-width: 767.98px) {
    .portfolio-section .projects-highlight-section .project-sec-col .card {
        /* border:none; */

        background-color: var(--primary-color);
        /* border: 2px solid red; */
    }

    .portfolio-section .projects-highlight-section {
        height: 60vh;
        border: 2px solid blue;
    }

    .portfolio-section .projects-highlight-section .project-sec-col {
        height: 27vh;
        /* border: 2px solid green; */
    }

    .portfolio-section .projects-highlight-section .card .highlight-icon {
        height: 50px;
        margin: 20px auto 10px auto;
    }

    .portfolio-section .nav-section {
        width: 100%;
        margin: 0 auto;
    }

    .portfolio-section .project-card .col-lg-3 {
        margin: 0px auto;
        width: 200px !important;
    }

    .portfolio-section .project-card .card {
        margin: 0px auto;
        height: 200px !important;
        width: 180px !important;
        gap: 20px;
    }

}


/* 

TABLET VIEW 

*/
@media(max-width: 991.98px) {

    .portfolio-section .projects-highlight-section .project-sec-col .card {

        background-color: var(--primary-color);
        /* border: 2px solid red; */
    }

    .portfolio-section .projects-highlight-section {
        height: 130vh;
        /* height: 32vh; */
        /* border: 2px solid purple; */
    }

    .portfolio-section .projects-highlight-section .project-sec-col {
        height: 16vh;
        /* border: 2px solid blue; */
    }

}