.skill-section {
    background-color: var(--primary-color);
}

.skill-section .row {
    /* border: 2px solid red; */
}

.skill-section .row div {
    /* border: 2px solid red; */
}

.skill-section .row .page-heading {
    color: var(--black-100);
}

.skill-section .text-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 5px solid green; */
    gap: 5px;
    height: 60vh !important;
    margin-bottom: 60px;
}

.skill-section .text-section h2,
p {
    color: var(--black-100);
}

.skill-section .row button {
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: 60px;
    width: 160px;
    background-color: var(--action-color);
    color: var(--black-btn-color);
}

.skill-section .row button:hover {
    background-color: var(--black-btn-color);
    color: var(--action-color);
    border: 2px solid var(--action-color);
}


.skill-section .row .bar {
    width: 50%;
    height: 60px;
}

.skill-section .row .bar .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-section .row .bar .info span {
    color: var(--black-100);
}

.skill-section .row .bar .skill-bar {
    /* height: 200px!important; */
    background-color: var(--action-color) !important;

}

/* MOBILE VIEW */
@media(max-width: 767.98px) {
    .skill-section .text-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* border: 5px solid green; */
        gap: 5px;
        height: 30vh !important;
        margin-bottom: 60px;

    }
}

/* 

TABLET VIEW 

*/
@media(max-width: 991.98px) {
    .skill-section .text-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        height: 40vh !important;
        margin-bottom: 60px;

    }

}